# Google Apps Script Web App URL for lead submissions & email notifications
NEXT_PUBLIC_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycbxLP8YEBI_SsHybAaBKn_iNY1JpTZLZNvCETKhUCP6t-XAflVu66GT2fKoKgle0QPk/exec
