# Google Apps Script Web App URL for lead submissions & email notifications
NEXT_PUBLIC_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycbyY3EPb08HrJQED8BgDRB8HyjxPMyWSEgxeRV97TTOC5DBCbrIcqnHT2phsoIjzQro/exec
